<script total>

  exports.name = 'List Modules';
  exports.icon = 'ti ti-code';
  exports.author = 'Colton McInroy';
  exports.version = '1';
  exports.group = 'Application';
  exports.config = {};
  exports.inputs = [{ id: 'input', name: 'Input' }];
  exports.outputs = [{ id: 'output', name: 'Output' }];

  // exports.npm = ['npm_module_1', 'npm_module_2@version'];
  // exports.meta = { readonly: false, singleton: false, hidden: false };

  exports.make = function(instance, config) {

    // instance.main.variables {Object}
    // instance.main.variables2 {Object}
    // instance.save();
    // instance.replace(str); // replaces {variable_name} for values from "variables" and "variables2"
    // instance.status(obj, [refresh_delay_in_ms]);

    instance.message = function($) {
      var com = instance.main.instances().findItem('id', config.id);
      // console.log('Application:', com.application);
      const modules = com.application.moduleManager.modules.map(m => m.record);
      // var data = $.data;
      $.send('output', modules);
      // or $.destroy();
    };

    instance.configure = function() {
      // "config" is changed
    };

    instance.close = function() {
      // this instance is closed
    };

    instance.variables = function(variables) {
      // FlowStream variables are changed
    };

    instance.variables2 = function(variables) {
      // Global variables are changed
    };

    instance.configure();

  };
  exports.call = function(data, callback) {
    var coms = this.instances().filter(
      (ins) => {
        return ins.template.group === 'Application' && ins.template.name === 'Application'
      }
    ).map(ins => ({ id: ins.id, name: ins.config.name }));
    callback(coms);
  }

</script>

<readme>
  Markdown readme

  ```js
  var total = 'Hello world!';
  ```
</readme>

<settings>
  <div class="padding">
    <ui-component name="input" path="?.id" config="dirsource:%applications;dirraw:1;placeholder:Select application;dirempty:No applications;required:1" class="m">Name</ui-component>
  </div>
</settings>

<style>
  .CLASS footer { padding: 10px; font-size: 12px; }
</style>

<script>

  // Client-side script
  // Optional, you can remove it

  // A custom helper for the component instances
  // The method below captures each instance of this component
  TOUCH(function(exports, reinit) {

    var name = exports.name + ' --> ' + exports.id;

    console.log(name, 'initialized' + (reinit ? ' : UPDATE' : ''));

    exports.settings = function(meta) {
      // Triggered when the user opens settings
      console.log(name, 'settings', meta);
      meta.call(function(response) {
        SET('%applications', response);
      }, true);
    };

    exports.configure = function(config, isinit) {
      // Triggered when the config is changed
      console.log(name, 'configure', config);
    };

    exports.status = function(status, isinit) {
      // Triggered when the status is changed
      console.log(name, 'status', status);
    };

    exports.note = function(note, isinit) {
      // Triggered when the note is changed
      console.log(name, 'note', note);
    };

    exports.variables = function(variables) {
      // Triggered when the variables are changed
      console.log(name, 'variables', variables);
    };

    exports.variables2 = function(variables) {
      // Triggered when the variables2 are changed
      console.log(name, 'variables2', variables);
    };

    exports.redraw = function() {
      // Flow design has been redrawn
      console.log(name, 'redraw');
    };

    exports.move = function() {
      // Instance has changed position
      console.log(name, 'move');
    };

    exports.close = function() {
      // Triggered when the instance is closing due to some reasons
      console.log(name, 'close');
    };

  });

</script>

<body>
<header>
  <i class="ICON"></i>NAME
</header>
<footer>Learn from existing components</footer>
</body>
