<script total>

  exports.name = 'Module';
  exports.icon = 'ti ti-code';
  exports.author = 'Colton McInroy';
  exports.version = '1';
  exports.group = 'Module';
  exports.config = {
    mode: 'all',
    concurrency: 10,
  };
  exports.inputs = [{ id: 'input', name: 'Input' }];
  exports.outputs = [
    { id: 'output', name: 'Output' },
    { id: 'init', name: 'Initialize' },
    { id: 'boot', name: 'Boot' },
    { id: 'start', name: 'Start' },
    { id: 'ready', name: 'Ready' },
    { id: 'stop', name: 'Stop' },
    { id: 'registered', name: 'Registered' },
    { id: 'unregistered', name: 'Unregistered' },
    { id: 'drained', name: 'Drained' },
    { id: 'completed', name: 'Completed' },
    { id: 'failed', name: 'Failed' },
    { id: 'api', name: 'API' },
    { id: 'involvement', name: 'Involvement' },
    { id: 'phase', name: 'Phase' },
    { id: 'error', name: 'Error' },
  ];
  exports.type = 'output2';

  exports.npm = ['@nexgin/totaljsapplication'];
  // exports.npm = ['npm_module_1', 'npm_module_2@version'];
  // exports.meta = { readonly: false, singleton: false, hidden: false };

  exports.call = function(data, answer) {
    // "this" means FlowStream instance
    var redisarr = [];
    var instances = this.instances();

    instances = instances.filter(i => i.module.flags && i.module.flags.includes('ioredis'));
    for (let com of instances)
      redisarr.push({ id: com.id, name: `${com.config.username ? com.config.username + '@' : ''}${com.config.hostname}:${com.config.port}/${com.config.db}` });

    this.io(function(err, response) {
      var arr = [];
      for (var flow of response) {
        for (var com of flow.items) {
          if (com.component === 'Application') {
            com.id = flow.id + '_' + com.id;
            com.name = '<b>' + flow.name.encode() + ':</b> ' + com.name.encode();
            arr.push(com);
          }
        }
      }
      arr.quicksort('name');
      answer({ioredis: redisarr, apps: arr});
    });
  };

  exports.make = function(instance, config) {
    const { Module } = require('@nexgin/totaljsapplication');
    // console.log('Module:', Module);
    const module = new Module(instance, config);
    instance.module = module;
    // console.log('module:', module);
    instance.configure();

  };

</script>

<readme>
  ### Module Component
  This component is used to create a module which connects to an Application component.

  ## Inputs
  - Input: The input data to be forwarded to the application as input.

  ## Outputs
  - Output: This is the output to handle requests coming from the input after being processed by the application.
  - API: The API output handles ModAPI requests.
  - Involvement: The Involvement output handles ModInvolvement requests.
  - Phase: The Phase output handles ModPhase requests.
  - Initialize: This is to initialize the module. This is called once when the module is started. The data is the module configuration. Response data becomes module data (modData).
  - Boot: This is to boot the module. This is called once when the module is started. The data is module data (modData). Response data becomes new module data (modData).
  - Start: This is to start the module. This is called once when the module is started. The data is module data (modData). Response data becomes new module data (modData).
  - Ready: This is to ready the module. This is called once when the module is started. The data is module data (modData). Response data becomes new module data (modData).
  - Stop: This is to stop the module. This is called once when the module is stopped. The data is module data (modData). Response data becomes new module data (modData).
  - Registered: This is to handle registration. This is called when the module is registered.
  - Unregistered: This is to handle unregistration. This is called when the module is unregistered.
  - Drained: A message is sent to this output when the worker queue is drained.
  - Completed: A message is sent to this output when the worker queue has completed as job.
  - Failed: A message is sent to this output when the worker queue has failed a job.
  - Error: This is to handle errors. This is called when an error occurs. The data is the error.

</readme>

<settings>
  <div class="padding">
    <div class="row">
      <div class="col-md-9 m">
        <ui-component name="input" path="?.label" config="required:1">Module Label</ui-component>
        <div class="m"><b>Module label is an identifier for this instance of the module.</b></div>
      </div>
      <div class="col-md-3 m">
        <ui-component name="input" path="?.concurrency" config="required:1;type:number">Concurrency</ui-component>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 m">
        <ui-component name="input" path="?.name" config="required:1">Module Name</ui-component>
      </div>
      <div class="col-md-4 m">
        <ui-component name="input" path="?.application" config="required:1">Application Name</ui-component>
      </div>
      <div class="col-md-4 m">
        <ui-component name="input" path="?.mode" config="required:1;dirsource:all|Everything,input|Input,api|API">Processing Mode</ui-component>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="m"><b>Redis Connection</b></div>
        <ui-component name="input" path="?.redis" class="b">Connection string</ui-component>
        <div class="help m">e.g.: redis://user:pswd@xyz.redis.net:port/db</div>
      </div>
    </div>
  </div>
</settings>

<style>
  .CLASS footer { padding: 10px; font-size: 12px; }

  .CLASS pre {
    font-size: 10px;
    margin: 0;
    padding: 5px;
    background-color: #F0F0F0;
    border-radius: var(--radius);
  }
  .CLASS button {
    float: right;
    height: 20px;
    font-size: 11px;
    border: 1px solid #E0E0E0;
    border-radius: var(--radius);
    color: #000;
    background-color: transparent;
    margin: 0;
    padding: 0 5px;
  }
  .CLASS button:hover { background-color: #F8F8F8; }
  .CLASS button:active { background-color: #E0E0E0; }

  .ui-dark .CLASS pre { background-color: #404040; tab-size: 2; }
  .ui-dark .CLASS button { border-color: #404040; color: #FFF; }
  .ui-dark .CLASS button:hover { background-color: #303030; }
  .ui-dark .CLASS button:active { background-color: #404040; }
</style>

<script>
  // Client-side script
  // Optional, you can remove it

  ON('configure_module', function(data) {
    data.call(function(response) {
      SET('%iorediss', response.ioredis);
      SET('%apps', response.apps);
    }, true);
  });
  // A custom helper for the component instances
  // The method below captures each instance of this component
  TOUCH(function(exports, reinit) {

    var name = exports.name + ' --> ' + exports.id;

    console.log(name, 'initialized' + (reinit ? ' : UPDATE' : ''));

    exports.settings = function(meta) {
      // Triggered when the user opens settings
      console.log(name, 'settings', meta);
    };

    exports.configure = function(config, isinit) {
      // Triggered when the config is changed
      console.log(name, 'configure', config);
    };

    exports.status = function(status, isinit) {
      // Triggered when the status is changed
      console.log(name, 'status', status);
    };

    exports.note = function(note, isinit) {
      // Triggered when the note is changed
      console.log(name, 'note', note);
    };

    exports.variables = function(variables) {
      // Triggered when the variables are changed
      console.log(name, 'variables', variables);
    };

    exports.variables2 = function(variables) {
      // Triggered when the variables2 are changed
      console.log(name, 'variables2', variables);
    };

    exports.redraw = function() {
      // Flow design has been redrawn
      console.log(name, 'redraw');
    };

    exports.move = function() {
      // Instance has changed position
      console.log(name, 'move');
    };

    exports.close = function() {
      // Triggered when the instance is closing due to some reasons
      console.log(name, 'close');
    };

  });

</script>

<body>
<header>
  <button class="exec" data-exec="FUNC.trigger">Restart</button>
  <i class="ICON"></i>NAME: <span data-bind="CONFIG.name__text" />
</header>
<footer>
  <div><b>Current State</b>: <span data-bind="STATUS.state__text"></span></div>
  <br />
  <div><b>App Stats</b></div>
  <div><b>Pending</b>: <span data-bind="STATUS.stats.app.pending__text"></span></div>
  <div><b>Completed</b>: <span data-bind="STATUS.stats.app.completed__text"></span></div>
  <div><b>Failed</b>: <span data-bind="STATUS.stats.app.failed__text"></span></div>
  <br />
  <div><b>Module Stats</b></div>
  <div><b>Pending</b>: <span data-bind="STATUS.stats.module.pending__text"></span></div>
  <div><b>Completed</b>: <span data-bind="STATUS.stats.module.completed__text"></span></div>
  <div><b>Failed</b>: <span data-bind="STATUS.stats.module.failed__text"></span></div>
</footer>
</body>
